@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'geomanistregular';
  src: url('/assets/fonts/geomanist-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'geomanistregular';
  font-weight: 100 !important;
}

section {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

input:focus {
  border: 2px solid rgb(153 27 27);
  outline: none;
}

textarea {
  resize: none;
}

textarea:focus {
  border: 2px solid rgb(153 27 27);
  outline: none;
}

.footer-payment-methods {
  display: grid;
  grid-template-columns: auto auto;
  gap: .5rem;
  margin: 2.5rem;
}

.contact-container {
  background-image: url("/assets/images/hexagon-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 105vw;
  height: 105vw;
}

@media (min-width: 768px) {
  .footer-payment-methods {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .contact-container {
    min-width: 60rem;
    min-height: 60rem;
    width: 66vw;
    height: 66vw;
  }
}

.stroke-text {
  color: #7c1919;
  -webkit-text-fill-color: #7c1919; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

.footer-sm-link {
  text-decoration: none !important;
  all: unset !important;
}

.link-underline {
  padding-bottom: 4px;
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: all .2s ease;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
}

@media (min-width: 768px) {
  .link-underline {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#991b1b, #991b1b);
  }
}

.link-underline:hover {
  background-size: 100% 2.5px;
  background-position: 0 100%;
}

.link-active {
  background-size: 100% 2.5px;
  background-position: 0 100%;
  color: rgb(153 27 27);
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.text-stroke {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-fill {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.logo-footer {
  filter: grayscale(1) contrast(2) brightness(0.8);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.main-hexagons {
  width: 600px;
}

@media (min-width: 900px) {
  .main-hexagons {
    width: 66vw;
  }
}

.small-hexagons {
  position: relative;
  transform-style: preserve-3d;
  z-index: 10;
}

.hexagon-one {
  top: 10rem;
  right: -8rem;
  transform: scale(1.5) translateZ(-6px) rotate(12deg);
}

.hexagon-two {
  top: 0rem;
  right: 20rem;
  transform: scale(1.5) translateZ(-12px) rotate(12deg);
}

.hexagon-three {
  top: 30rem;
  right: 25rem;
  transform: scale(1.5) translateZ(-8px) rotate(12deg);
}

.hexagon-four {
  top: 50rem;
  right: 20rem;
  transform: scale(1.5) translateZ(-12px) rotate(12deg);
}

.hexagon-five {
  top: 20rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-9px) rotate(12deg);
}

.hexagon-six {
  top: 50rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

.hexagon-seven {
  bottom: -85rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

.hexagon-eight {
  bottom: -70rem;
  left: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

@media (min-width: 640px) {
  .hexagon-one {
    top: 10rem;
    right: -8rem;
    transform: scale(1.6) translateZ(-6px) rotate(12deg);
  }

  .hexagon-two {
    top: 0rem;
    right: 44rem;
    transform: scale(1.6) translateZ(-12px) rotate(12deg);
  }

  .hexagon-three {
    top: 30rem;
    right: 40rem;
    transform: scale(1.6) translateZ(-8px) rotate(12deg);
  }

  .hexagon-four {
    top: 50rem;
    right: 90rem;
    transform: scale(1.6) translateZ(-12px) rotate(12deg);
  }

  .hexagon-five {
    top: 20rem;
    right: 0rem;
    transform: scale(1.6) translateZ(-9px) rotate(12deg);
  }

  .hexagon-six {
    top: 50rem;
    right: -10rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }

  .hexagon-seven {
    bottom: -85rem;
    right: 0rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }

  .hexagon-eight {
    bottom: -70rem;
    left: 0rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }
}

@media (min-width: 768px) {
  .hexagon-one {
    top: 10rem;
    right: -10rem;
    transform: scale(1.75) translateZ(-6px) rotate(12deg);
  }
  
  .hexagon-two {
    top: 0rem;
    right: 50rem;
    transform: scale(1.75) translateZ(-12px) rotate(12deg);
  }
  
  .hexagon-three {
    top: 23rem;
    right: 110rem;
    transform: scale(1.75) translateZ(-8px) rotate(12deg);
  }
  
  .hexagon-four {
    top: 50rem;
    right: 90rem;
    transform: scale(1.75) translateZ(-12px) rotate(12deg);
  }
  
  .hexagon-five {
    top: 20rem;
    right: 0rem;
    transform: scale(1.75) translateZ(-9px) rotate(12deg);
  }
  
  .hexagon-six {
    top: 50rem;
    right: -15rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
  
  .hexagon-seven {
    bottom: -85rem;
    right: 0rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
  
  .hexagon-eight {
    bottom: -70rem;
    left: 0rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
}


.burger-wrapper {
  cursor: pointer;
}
#meny {
  background: #333;
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
}
#menyAvPaa {
  display: none;
}

#menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 1.7rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 3px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}