.main-hexagons {
  width: 600px;
}

@media (min-width: 900px) {
  .main-hexagons {
    width: 66vw;
  }
}

.small-hexagons {
  position: relative;
  transform-style: preserve-3d;
  z-index: 0.5;
}

.hexagon-one {
  top: 10rem;
  right: -8rem;
  transform: scale(1.5) translateZ(-6px) rotate(12deg);
}

.hexagon-two {
  top: 0rem;
  right: 20rem;
  transform: scale(1.5) translateZ(-12px) rotate(12deg);
}

.hexagon-three {
  top: 30rem;
  right: 25rem;
  transform: scale(1.5) translateZ(-8px) rotate(12deg);
}

.hexagon-four {
  top: 50rem;
  right: 20rem;
  transform: scale(1.5) translateZ(-12px) rotate(12deg);
}

.hexagon-five {
  top: 20rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-9px) rotate(12deg);
}

.hexagon-six {
  top: 50rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

.hexagon-seven {
  bottom: -85rem;
  right: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

.hexagon-eight {
  bottom: -70rem;
  left: 0rem;
  transform: scale(1.5) translateZ(-4px) rotate(12deg);
}

@media (min-width: 640px) {
  .hexagon-one {
    top: 10rem;
    right: -8rem;
    transform: scale(1.6) translateZ(-6px) rotate(12deg);
  }

  .hexagon-two {
    top: 0rem;
    right: 44rem;
    transform: scale(1.6) translateZ(-12px) rotate(12deg);
  }

  .hexagon-three {
    top: 30rem;
    right: 40rem;
    transform: scale(1.6) translateZ(-8px) rotate(12deg);
  }

  .hexagon-four {
    top: 50rem;
    right: 90rem;
    transform: scale(1.6) translateZ(-12px) rotate(12deg);
  }

  .hexagon-five {
    top: 20rem;
    right: 0rem;
    transform: scale(1.6) translateZ(-9px) rotate(12deg);
  }

  .hexagon-six {
    top: 50rem;
    right: -10rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }

  .hexagon-seven {
    bottom: -85rem;
    right: 0rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }

  .hexagon-eight {
    bottom: -70rem;
    left: 0rem;
    transform: scale(1.6) translateZ(-4px) rotate(12deg);
  }
}

@media (min-width: 768px) {
  .hexagon-one {
    top: 10rem;
    right: -10rem;
    transform: scale(1.75) translateZ(-6px) rotate(12deg);
  }
  
  .hexagon-two {
    top: 0rem;
    right: 50rem;
    transform: scale(1.75) translateZ(-12px) rotate(12deg);
  }
  
  .hexagon-three {
    top: 23rem;
    right: 110rem;
    transform: scale(1.75) translateZ(-8px) rotate(12deg);
  }
  
  .hexagon-four {
    top: 50rem;
    right: 90rem;
    transform: scale(1.75) translateZ(-12px) rotate(12deg);
  }
  
  .hexagon-five {
    top: 20rem;
    right: 0rem;
    transform: scale(1.75) translateZ(-9px) rotate(12deg);
  }
  
  .hexagon-six {
    top: 50rem;
    right: -15rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
  
  .hexagon-seven {
    bottom: -85rem;
    right: 0rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
  
  .hexagon-eight {
    bottom: -70rem;
    left: 0rem;
    transform: scale(1.75) translateZ(-4px) rotate(12deg);
  }
}